.logos {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: $primary-color;
    @media (max-width: 1024px) {
        padding-top: 4em;
        padding-bottom: 4em;
    }
    
    @media (max-width: 533px) {
        padding-top: 4em;
        padding-bottom: 4em;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: -47px;
        @media (max-width: 1024px) {
            margin: -35px;
        }

        
        @media (max-width: 533px) {
            margin: -20px;
        }
    }

    &__item {
        width: 7.5em;
        height: 7.5em;
        margin: 47px;
        @media (max-width: 1024px) {
            margin: 35px;
        }

        @media (max-width: 533px) {
            margin: 20px;
        }
    }

}