.promo {
    padding-bottom: 8.75em;
    @media (max-width: 768px) {
        padding-bottom: 4em;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 50%;
        position: relative;
        @media (max-width: 768px) {
            width: 100%;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__description {
        position: absolute;
        top: 3.25em;
        left: 3.25em;
        bottom: 0;
        right: 0;
        @media (max-width: 768px) {
            top: 2em;
            left: 2em;
        }
    
    }

    &__sale {
        color: #FFF;
        font-size: 14px;
        font-family: 'LoraBold', serif;
    }

    &__name {
        color: #FFFFFF;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: -0.64px;
        margin-top: 0.75em;
        max-width: 10em;
    }

    &__link {
        margin-top: 1.5em;
        display: inline-block;
        color: #FFFFFF;
        font-weight: 500;
        letter-spacing: -0.16px;
        &:hover .promo__arrow {
            margin-left: 1em;
        }
    }

    &__arrow {
        margin-left: 0.5em;
        vertical-align: middle;
        transition: 0.3s;
    }
}