<footer class="footer">
  <div class="box">
    <div class="footer__box">
      <div class="footer__col">
        <ul>
          <li class="logo footer__logo">
            <a href="#">Furn<span>.</span></a></li>
          <li class="footer__item"><svg class="footer__icon" width="16" height="16" viewBox="0 0 16 16"><use xlink:href="img/svg/icon.svg#map"></use></svg>
          11 The Avenue, United of Kingdom</li>
          <li class="footer__item">
            <a href="mailto:test@gmail.com">            
              <svg class="footer__icon" width="16" height="16" viewBox="0 0 16 16"><use xlink:href="img/svg/icon.svg#mail"></use></svg>
              Furniture@gmail.com</a>
          </li>
          <li class="footer__item">
            <a href="tel:88005553535">            
              <svg class="footer__icon" width="16" height="16" viewBox="0 0 16 16"><use xlink:href="img/svg/icon.svg#tel"></use></svg>
              88005553535</a>
          </li>
          <li>@include('media.html')</li>
        </ul>
      </div>
      <div class="footer__col">
        <ul>
          <li class="footer__item footer__item--name">ABOUT US</li>
          <li class="footer__item"><a href="#">About Us</a></li>
          <li class="footer__item"><a href="#"> Delivery Info</a></li>
          <li class="footer__item"><a href="#"> Order Tracking</a></li>
          <li class="footer__item"><a href="#"> My Account</a></li>
          <li class="footer__item"><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <ul>
          <li class="footer__item footer__item--name">NEWSLETTER</li>
          <li class="footer__item footer__item--text">Enjoy our newsletter to stay updated with the latest news and special sales.</li>
          <li class="footer__item footer__form">
            <form action="#" method="POST">
                <div class="form-control">
                    <input class="form-field footer__form-field" type="email" placeholder="Enter your email address...">
                    <button type="submit" class="footer__submit">
                      <svg  width="24" height="24" fill="none" viewBox="0 0 24 24"><use xlink:href="img/svg/icon.svg#send"></use></svg>
                    </button>
                </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
