<header class="header fixed-block">
  <div class="box">
    <div class="header__box">
      <a href="#" class="logo">Furn<span>.</span></a>
      <ul class="menu" data-menu>
        <li class="menu__item">
          <a href="#">Home</a>
        </li>
        <li class="menu__item">
          <a href="#">Shop</a>
        </li>
        <li class="menu__item">
          <a href="#">Product</a>
        </li>
        <li class="menu__item">
          <a href="#">Blog</a>
        </li>
        <li class="menu__item">
          <a href="#">Page</a>
        </li>
        <li class="menu__item">
          <a href="#">Contact</a>
        </li>
      </ul>
      <div class="header__actions">
        <button class="btn-actions btn-actions--login">Log In</button>
        <a href="#" class="btn-actions btn-actions--register">Register</a>
      </div>
      <div class="burger" data-burger>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </div>
    </div>
  </div>
</header>
<div class="header-substrate"></div>