<section class="intro">
    <div class="intro__img img-right">
        <picture>
            <img class="img-right__picture" src="img/furniture/sofa-1@1x.png" srcset="img/furniture/sofa-1@1x.png 1x, img/furniture/sofa-1@2x.png 2x" alt="sofa">
        </picture>
        <div class="intro__tag">
            <div class="intro__num">14k+</div>
            <div class="intro__tag-content">
                <p class="intro__tag-text">Item Sold</p>
                <div class="intro__line intro__line--big"></div>
                <div class="intro__line intro__line--small"></div>
            </div>
        </div>
    </div>
    <div class="box box--with-img">
        <div class="wrapper-content">
            <div class="text-content">
                <h1>Furnish Your&nbsp;Home Furnish Your&nbsp;Life</h1>
                <p class="intro__description">From clean contours that&nbsp;centre a&nbsp;space, to&nbsp;soft subtleties that&nbsp;fuse into its&nbsp;environment. From clean contours that&nbsp;centre a&nbsp;space, to&nbsp;soft subtleties that&nbsp;fuse.</p>
            </div>
          
            <div class="intro__form">
                @include('form.html')
            </div>
        </div>
    </div>
</section>