<section class="logos">
    <div class="box">
        <div class="logos__wrapper">
            <picture>
                <img class="logos__item" src="img/logos/monica@1x.png" srcset="img/logos/monica@1x.png 1x, img/logos/monica@2x.png 2x" alt="monica">
            </picture>
            <picture>
                <img class="logos__item" src="img/logos/pegasus@1x.png" srcset="img/logos/pegasus@1x.png 1x, img/logos/pegasus@2x.png 2x" alt="pegasus">
            </picture>
            <picture>
                <img class="logos__item" src="img/logos/boutique@1x.png" srcset="img/logos/boutique@1x.png 1x, img/logos/boutique@2x.png 2x" alt="boutique">
            </picture>
            <picture>
                <img class="logos__item" src="img/logos/royalty@1x.png" srcset="img/logos/royalty@1x.png 1x, img/logos/royalty@2x.png 2x" alt="royalty">
            </picture>
            <picture>
                <img class="logos__item" src="img/logos/emblem@1x.png" srcset="img/logos/emblem@1x.png 1x, img/logos/emblem@2x.png 2x" alt="emblem">
            </picture>
        </div>
    </div>
</section>