<div class="media">
    <a href="#" class="media__item">
        <svg width="20" height="20" viewBox="0 0 20 20"><use xlink:href="img/svg/icon.svg#facebook"></use></svg>
    </a>
    <a href="#" class="media__item">
        <svg width="20" height="20" viewBox="0 0 20 20"><use xlink:href="img/svg/icon.svg#twitter"></use></svg>
    </a>
    <a href="#" class="media__item">
        <svg width="20" height="20" viewBox="0 0 55 55"><use xlink:href="img/svg/icon.svg#instagram"></use></svg>
    </a>
    <a href="#" class="media__item">
        <svg width="20" height="20" viewBox="0 0 20 20"><use xlink:href="img/svg/icon.svg#pinterest"></use></svg>
    </a>
</div>