<section class="social">
    <div class="box">
        <h2 class="social__title">Follow me on<br>Instagram</h2>
        <div class="social__collection">
            <div class="social__item">
                <a data-fslightbox href="img/furniture/social-1@2x.png">
                    <img  class="social__img" src="img/furniture/social-1@1x.png" srcset="img/furniture/social-1@2x.png 1x, img/furniture/social-1@2x.png 2x" alt="gallery">
                </a>
            </div>

            <div class="social__item">
                <a data-fslightbox href="img/furniture/social-2@2x.png">
                    <img  class="social__img" src="img/furniture/social-2@1x.png" srcset="img/furniture/social-2@2x.png 1x, img/furniture/social-2@2x.png 2x" alt="gallery">
                </a>
            </div>

            <div class="social__item">
                <a data-fslightbox href="img/furniture/social-3@2x.png">
                    <img  class="social__img" src="img/furniture/social-3@1x.png" srcset="img/furniture/social-3@2x.png 1x, img/furniture/social-3@2x.png 2x" alt="gallery">
                </a>
            </div>

            <div class="social__item social__item--media">
                <a href="">
                    <div class="social__more">
                        <svg width="60" height="60" viewBox="0 0 60 60"><use xlink:href="img/svg/icon.svg#instagram"></use></svg>
                    </div>
                </a>
            </div>

            <div class="social__item">
                <a data-fslightbox href="img/furniture/social-4@2x.png">
                    <img  class="social__img" src="img/furniture/social-4@1x.png" srcset="img/furniture/social-4@2x.png 1x, img/furniture/social-4@2x.png 2x" alt="gallery">
                </a>
            </div>

            <div class="social__item">
                <a data-fslightbox href="img/furniture/social-5@2x.png">
                    <img  class="social__img" src="img/furniture/social-5@1x.png" srcset="img/furniture/social-5@2x.png 1x, img/furniture/social-5@2x.png 2x" alt="gallery">
                </a>
            </div>
        </div>
    </div>
</section>