<ol class="steps">
    <li class="steps__item">
        <div class="steps__element">
            <svg  width="40" height="40" viewBox="0 0 40 40"><use xlink:href="img/svg/icon.svg#armchair"></use></svg>
        </div>
        <div class="steps__content steps__content--1">
            <div class="steps__animate steps__animate--1">
                <p class="steps__item-name">Fast & free shipping</p>
                <p class="steps__item-description">Every single order ships for free. No minimums, no tiers, no fine print whatsoever. Every single order ships for free. No minimums, no tiers, no fine print whatsoever.</p>
            </div>
        </div>
    </li>
    <li class="steps__item">
        <div class="steps__element">
            <svg  width="36" height="36" viewBox="0 0 36 36"><use xlink:href="img/svg/icon.svg#tree"></use></svg>
        </div>
        <div class="steps__content">
            <div class="steps__animate steps__animate--2">
                <p class="steps__item-name">Durable materials</p>
                <p class="steps__item-description">Every single order ships for free. No minimums, no tiers, no fine print whatsoever. Every single order ships for free. No minimums, no tiers, no fine print whatsoever.</p>
            </div>
        </div>
    </li>
    <li class="steps__item">
        <div class="steps__element">
            <svg  width="40" height="40" viewBox="0 0 40 40"><use xlink:href="img/svg/icon.svg#car"></use></svg>
        </div>
        <div class="steps__content">
            <div class="steps__animate steps__animate--3">
                <p class="steps__item-name">Modular, easy design</p>
                <p class="steps__item-description">Every single order ships for free. No minimums, no tiers, no fine print whatsoever. Every single order ships for free. No minimums, no tiers, no fine print whatsoever.</p>
            </div>
        </div>
    </li>
</ol>